{% extends 'sample.html' %}

{% block title  %}Регистрация{% endblock %}

{% block start %} {% endblock %}

{% block menu  %}
<h1>Регистрация нового пользователя</h1>
{% endblock %}

{% block content %}

 <form method="post">
        {% csrf_token %}
     <p>
        <label for="login">Введите логин: </label>
        <input type="text" id='login' name="login" maxlength="30" required>
     </p>
     <p>
        <label for="password">Введите пароль: </label>
        <input type="text" id='password' name="password" minlength="8" required>
     </p>
     <p>
        <label for="second_password">Повторите пароль: </label>
        <input type="text" id='second_password' name="second_password" minlength="8" required>
     </p>
     <p>
        <label for="name">Введите имя</label>
        <input type="text" id='name' name="name" minlength="40" required>
     </p>
     <p>
        <label for="phone">Введите телефон: </label>
        <input type="integer" id='phone' name="phone" maxlength="10" required>
     </p>
     <p>
        <label for="age">Введите возраст: </label>
        <input type="integer" id='age' name="age" maxlength="3" required>
     </p>
     <p>
        <button type="submit">Отправить</button>
     </p>
            <a href="/main/entrance">Если существует аккаунт</a>

        {% if info != None %}
            <h3> {{ info }} </h3>
        {% endif %}
    </form>
{% endblock %}


